.room-sidebar{

    background-color: #19171D;
    color: #828184;
    height: 100%;
    min-width: 235px !important;
    max-width: 235px !important;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 14px;
    transition: 0.5s;
    border-right: 2px solid #262626e0;
}
