


.ChannelmodalContainer{
  position:absolute;
  background-color: #1A1D21;
    border: 1px solid #d1d2d330;
  border-radius: 25px;
  padding: 20px;
  opacity: 0.9;
  width: 270px;
  display:flex;
  align-items: center;
  justify-content: center;
}



.editChannelExpand{
  padding: 7x;
  width: 100px;
  background-color: #261f12;
  color: #828184;
  border: none;
  padding: 10px;
  margin: 7px;
}

.editChannelExpand:hover{
  background-color: #252425;
}

.EditChannelName{
  height: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px;
    background-color: #D1D2D3;
}

.EditChannelType{
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding: 5px;
}

.UpdateChannelBttn{
  padding: 7x;
  width: 100px;
  background-color: #261f12;
  color: #828184;
  border: none;
  padding: 10px;
  margin: 7px;
}

.UpdateChannelBttn:hover{
  background-color: #252425;
}

.channeldetailclosebtn{
  padding: 7x;
  width: 100px;
  background-color: #261f12;
  color: #828184;
  border: none;
  padding: 10px;
  margin: 7px;
}

.channeldetailclosebtn:hover{
  background-color: #252425;
}

.channelXbttn{
  display: none;
}

.channelXbttn:hover{
  background-color: #252425;
}
