.group-DM-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap:10px;
    color: #a3a3a6;
    font-weight: 400;
    font-family: Lato;
    user-select: none;
}
.group-DM-triangle{
    width:15px;
    height:15px;

}
.group-DM-triangle:hover{
    cursor: pointer;
    color: #ffffff;
}

.triangle-open{
    animation: triangle-open 0.3s ease-in-out;
    transform: rotate(90deg);
}
@keyframes triangle-open{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
.group-DM-plus{
    opacity: 0.25;
    width:15px;
    height:15px;
    pointer-events: auto;
}
.group-DM-plus:hover{
    cursor: pointer;
    opacity: 1;
}
.group-DM-list-item{
    margin-top:10px;
    margin-left:25px;
    display: flex;
    font-size: 1.1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
    width: fit-content;
    padding:1px;
    border-radius: 5px;
    color: #a3a3a6;
    font-weight: 400;
    font-family: Lato;

}
.group-DM-list-item:hover{
    cursor: pointer;

}
.group-DM-container-outer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#d1d2d387;
    font-size: 1.3rem;
    margin-bottom:30px;
}

.group-DM-number{
    position: relative;
    left:-15px;
    top:5px;
    font-size: 0.7rem;
    background-color: #1A1D21;
    border-radius: 20%;
    padding:2px 5px;
    border:1px solid #D1D2D3;
}
.left-10{
    position:relative;
    left:-10px;
}
.group-DM-list-item-icon{
    width: 26px;
    height: 26px;
    border-radius: 4px;
}
.DirectMessageText{
    color: #c4c4c7;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Verdana, sans-serif;
}
