.landing-demo-room-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    top: 80px;
  background-color: #001d3d;
}
.landing-demo-room-enter-button{
    position: absolute;
    bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    background-color: #4361ee;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
.landing-demo-room-enter-button:hover{
    background-color: #4361ee;
    box-shadow: 0 9px 9px rgba(0, 0, 0, 0.2);
    border: 1px solid #4361ee;
    color: #ffffff;
}

.landing-demo-room-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
    font-size: 2rem;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    color: #003566;
}
.landing-demo-room-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 400;
    color: #2e2e2e;
}
.landingpage{
  background-color: #001d3d;
    height: 300px;
    padding: 130px;
    z-index: -2000;
}
.landingContainer{
  display: flex;
  align-items: center;
  margin-left: 40px;
  position: relative;
  top: -20px;

}
.image-container {
  flex: 1;
  }

  .landingimage {
    width: 350px;
    margin-right: 20px;
  }

  .landinggif {
    width: 600px;
    border-radius: 50px;
    margin-right: 20px;
  }
.text-container {
  flex: 1;
  padding: 20px;
  color:#F4EDE4;
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  }


  .landingfourthh {
  top: 30px;
    font-size: 18px;
    margin-bottom: 20px;
  }
.container{
    display: inline-block;
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
  }
  .typed {

    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  .social-footer {
    margin-top: 10px;
    display: flex;
justify-content: flex-end;
margin-right: 20px;
   }
   .github-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #003c7b;
    color:#F4EDE4;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.github-button img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.landingContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #F4EDE4;
}


.landingContainer2-content h1{
      flex: 1;
    padding: 20px;
    text-align: left;
    width: 260px;
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
}

.landingContainer2-content p{
  margin-top: -40px;
      flex: 1;
    padding: 20px;
    text-align: left;
      width: 350px;
      font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;

}

.landingContainer2-image{
     justify-content: center;
    align-items: center;
}
