.landing-demo-room-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 5vh; */
    justify-content: flex-start;
    height: 8vh;
    width: 100vw;
    /* background-color: #f5f5f5; */

}
/* .landing-demo-room{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:20px;
    height: 100%;
    width: 70%;
    gap: 20px;
    border-radius: 10px;
    border: 4px solid #003566;
    background-color: #ffffff;
} */
.landing-demo-room-enter-button{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    background-color: #003566;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
.landing-demo-room-enter-button:hover{
    background-color: #003566;
    border: 1px solid #003566;
    color: #ffffff;
}

.landing-demo-room-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #003566;
}
.landing-demo-room-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #2e2e2e;
}

.landingpage{
    display: grid;
    place-items:  center;
}
.image-container {
    display: flex;
    align-items: center;
    /* background-color: #f0f0f0; */
    padding: 10px;
  }
  .landingimage {
    max-width: 43%;
    margin-right: 20px;
  }

  .landinggif {
    max-width: 100%;
    margin-right: 20px;
    margin-bottom: 20px;
  }


.text-container {
    color: #2e2e2e;
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
  }

  .landingsecondh {
    font-size: 35px;
    margin-bottom: 20px;
  }

  /* .landingthirdh {
    font-size: 58px;
    font-weight: 9000;
    margin-bottom: 40px;
    font-family: "Segoe Script";

  } */


  .landingfourthh {
  top: 30px;
    font-size: 18px;
    margin-bottom: 20px;
  }


/* .social-footer{
    position: absolute;
    bottom: 0;
    height:60px;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding:10px 10px;

} */




.container{
    display: inline-block;
    /* font-family: "arial"; */
    font-size: 24px;
    font-family: "Segoe Script";
  }

  .typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


  .social-footer {
    margin-top: 10px;
    display: flex;
justify-content: flex-end;
margin-right: 20px;
   }

   .github-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background-color: #4361ee;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.github-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
