.landing-demo-room-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    justify-content: flex-start;
    height: 30vh;
    width: 100vw;
    background-color: #f5f5f5;
}
.landing-demo-room{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:20px;
    height: 100%;
    width: 70%;
    gap: 20px;
    border-radius: 10px;
    border: 4px solid #003566;
    background-color: #ffffff;
}
.landing-demo-room-enter-button{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 140px;
    border-radius: 5px;
    background-color: #003566;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
}
.landing-demo-room-enter-button:hover{
    background-color: #003566;
    border: 1px solid #003566;
    color: #ffffff;
}

.landing-demo-room-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #003566;
}
.landing-demo-room-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #2e2e2e;
}

.landingpage{
    display: grid;
    place-items:  center;
}
.image-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
  }
  .landingimage {
    max-width: 43%;
    margin-right: 20px;
  }
  .text-container {
    flex: 1;
    background-color: red;
  }
/* .welcomeback{
    margin: 50px;
    background-color: #003566;
    color: white;
    width: 270px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.landingfirsth{
    font-family: fantasy;
    margin: 10px
}

.landingsecondh{
   font-family: monospace;
   margin: 10px
}

.landingthirdh{
    font-family: fantasy;
    margin: 10px
}

.landingfourthh{
    font-family: monospace;
    margin: 10px;
    width: 800px;
}

.landingfifthh{
    margin: 50px;
    background-color: #003566;
    color: white;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-footer{
    position: absolute;
    bottom: 0;
    height:60px;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding:10px 10px;

}
