TODO Add site wide styles
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
