.ChannelListContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.eachChannel{
    width: 200px;
}

.channelLink{
    background-color: #19171D;
    display: flex;
    text-decoration: none;
    padding: 5px;
    color: #a3a3a6;
    font-weight: 400;
    font-family: Lato;
    position: relative;
}

.deleteChannelbtn{
   background-color: red;
}

.channelLinkexpandBtn{
    background-color: #261f12;
    color: #828184;
    border: none;
    /* margin: 2px; */
    margin-left: 5px;
    border-radius: 50px;
    width: 30px;
    padding-bottom: 8px;
}

.deleteChannelbtn{

    background-color: #261f12;
    color: #828184;
    border: none;
    /* margin: 5px; */
    display: none;
    position: absolute;
    padding: 2px 5px;
    cursor: pointer;
    margin-left: 150px;
}

.channelLink:hover .deleteChannelbtn {
    display: inline-block;
}
