.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
.nav-container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  background-color: #001d3d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}
.navLogoName {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 4rem;
  font-family: "Gill Sans", sans-serif;
  color: #fff;

}
.navLogoName a {
  text-decoration: none;
  color: #fff;
}
.login-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.login-button:hover{
  text-decoration: underline;
}
.register-button:hover{
  text-decoration: underline;
}
.register-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  /* background-color: #003566; */
  color: #fff;
  /* border:2px solid #fff; */
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.demo-user-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  background-color: #003566;
  color: #fff;
  /* border:2px solid #fff; */
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.demo-user-button:hover{
  background-color: rgb(1, 42, 94);
  /* border: 1px solid #003566; */
  color: #ffffff;
}
.login-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.5rem;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.login-modal{
  position: absolute;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
}
.login-modal-pop-down{
  position: absolute;
  top:200px;
  left:0;
  transform: translateX(50%);
  background-color: #fff;
  border-radius: 5px;
  border:3px solid #003566;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  height: fit-content;
  z-index: 100;
  filter:drop-shadow(0px 20px 10px #00000077);
  /* set animation pop-down 0.2s with a bounce */
  animation: pop-down 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000)
  /* ,0.6s bounce 0.22s cubic-bezier(0.215, 0.610, 0.355, 1.000); */
}
.login-modal-x-button{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #003566;
  color: #fff;
  border-radius: 0px 0px 0px 5px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.login-modal-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: #003566;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
@keyframes pop-down {
  0% {
    opacity: 0;
    transform: translateY(-30%) translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0) translateX(50%);
  }

}
@keyframes bounce {

  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(50%,0,0);
    transform: translate3d(50%,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(50%, -30px, 0);
    transform: translate3d(50%, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(50%, -15px, 0);
    transform: translate3d(50%, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(50%,-4px,0);
    transform: translate3d(50%,-4px,0);
  }
}

.login-modal-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  gap: 20px;
}
.login-modal-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: fit-content;
}
.login-modal-input-container-wide{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 20px;
  height: fit-content;
}
.login-modal-input-container > span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.login-modal-input-container > input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  border:2px solid #656565;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.login-modal-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  border:2px solid #656565;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.login-modal-input:focus{
  outline: none;
}
.login-modal-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  background-color: #003566;
  color: #fff;
  border:2px solid #fff;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  user-select: none;
}
.error-token{
  border-radius: 10px;
  background-color: #ff0000db;
  color: #fff;
  border:2px solid #fff;
  padding: 5px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
.login-modal-errors{
  display: flex;
  flex-direction: column;
  margin-left:100px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;
  gap: 10px;
}
